.topic-card {
  height: 10rem;
  width: 10rem;
  background-color: var(--custom-black);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  /* * Animation (Shimering) */
  background-image: linear-gradient(
    -60deg,
    transparent 0%, transparent 40%,
    #F4EEE377 40%, #F4EEE377 60%,
    transparent 60%, transparent 100%
  );
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 150%;
  /* * Animation (Shimering) */
  cursor: pointer;
}

.topic-card__title {
  color: var(--custom-white);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.topic-card:hover {
  height: 12rem;
  width: 12rem;
  background-color: var(--secondary-color);

  /* * Animation (Shimering) */
  background-position-x: -150%;
  transition: background-position-x 1250ms, background-color 250ms, height 375ms, width 375ms;
  /* * Animation (Shimering) */
}

.topic-card:not(:hover) {
  transition: background-color 375ms, height 375ms, width 375ms;
}