.article-dashboard__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.article-dashboard__table td,
.article-dashboard__table th {
  padding: .25rem .5rem;
  text-align: left;
}

.article-dashboard__table-head {
  background-color: var(--secondary-color);
  color: var(--custom-white);
}

.article-dashboard__table-body {}