:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --page-padding: 1.5rem;
  
  --custom-white: #F1FFF1;
  --custom-black: #121112;

  --primary-color: #F1FFF1;
  --secondary-color: #002F6C;
  --tertiary-color: #E51B1B;

  --vertical-gap: .5rem;
  --horizontal-gap: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;

  background-color: var(--primary-color);
  color: #121112;

  display: flex;
  flex-direction: column;
  gap: var(--vertical-gap);
}

main {
  padding: var(--page-padding);
}

h1 {
  font-size: clamp(2.8em, 6vw, 4.8em);
  line-height: 1.1;
}

h2 {
  font-size: clamp(1.8em, 4vw, 2.8em);
  line-height: 1.2;
  font-weight: normal;
}

p, pre {
  font-size: clamp(1em, 2vw, 1.2em);
  line-height: 1.5;
  white-space: pre-wrap;
  color: inherit;
  font-family: inherit;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  position: relative;
}

a:hover {
  color: var(--tertiary-color);
}

a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 0;
  display: block;
  margin-left: 0.5rem;
  font-size: 0.8em;
  color: var(--tertiary-color);
  transition: width 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
}